{{#each clientes}}
  {{nome}} <br>
  {{email}} <br>
  {{telefone}}<br>
  {{mensagem}}
  <hr>
{{/each}}
	{{!-- <header>
		<h1> Delicious </h1>
		<div class="caixa">
			<h1> <img class="docin"
					src="https://img.elo7.com.br/product/244x194/276878F/logo-digital-pre-criada-doces-logo.jpg"> </h1>
			<nav>
				<ul>
					<li><a href="index.html">Home</a></li>
					<li><a href="produtos.html">Produtos</a></li>
					<li><a href="contatodoces.html">Contato</a></li>
				</ul>
			</nav>
		</div>
	</header>
	<img class="cupcake2"
		src="https://abrilveja.files.wordpress.com/2017/08/vejasprgpalegre-2543-21-ed-1.jpg?quality=70&strip=info&resize=680,453">

	<section>
		<h2> Escolha seu preferido </h2>
		<p>O conceito de doces tem se modificado e já deixaram de ser usados somente em comemorações!</p>
		<p>Mais que simples sobremesas para serem degustadas, elas mudam o dia de uma pessoa;</p>
		<p>Venha saborear os doces da cabrit...</p>
	</section>

	<section>
		<h3> Guloseimas </h3>
		<ul>
			<li>Brigadeiros</li>
			<li>Macarron</li>
			<li>Bolos</li>
			<li>Tortas</li>
			<li>Doces finos</li>
			<li>Trufas</li>
		</ul>
	</section>

	<img class="doces" src="https://i.pinimg.com/236x/cf/69/d3/cf69d38061b088068121667d79f3455f--ems-wedding-ideas.jpg">
	<img class="doces"
		src="https://i1.wp.com/www.eurodicas.com.br/wp-content/uploads/2018/09/doces-tipicos-da-franca.jpg?zoom=2&resize=780%2C470&ssl=1">
	<img class="doces"
		src="https://blog.novasafra.com.br/wp-content/uploads/2018/04/192809-corante-para-doces-qual-o-tipo-mais-adequado-para-cada-trabalho-780x450.jpg">
	<img class="doces"
		src="https://i0.wp.com/www.eurodicas.com.br/wp-content/uploads/2019/02/doces-italianos.jpg?zoom=2&resize=780%2C470&ssl=1">
	<footer>
		<img src="http://www.divinosdocesfinos.com.br/wp-content/uploads/2016/08/cupcake2-1.jpg">
		<p class="copyright"> &copy; Copyright Doceria da Ana-2020</p>
	</footer>
	 --}}
